.content {
  background-color: rgba(0, 0, 0, 0.8);
}

.content::after {
  content: "";
  background: url(people.jpg);
  background-repeat: no-repeat;
  background-position: center -100px;
  background-size: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.ticket {
  background: rgba(0,0,0,0.5);
  margin: 20px 0;
  padding: 20px;
  position: relative;
}

.poster {
  background-size: cover;
  background-position: 50% 28%;
  background-repeat: no-repeat;
}

h2 {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 30px;
  margin: 40px 0;
}

.title {
  display: inline-block;
}

.floatRight {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  font-size: 11pt;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
}

button {
  position: absolute;
  right: 0;
  top: 10px;
  border: 1px solid #B90628;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 11px 15px;
  border-radius: 3px;
  font-size: 10pt;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: black;
}

.inline {
  display: inline-block;
}

form {
  display: none;
}

#namer-toggle {
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;
  text-decoration: underline;
}

input {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 10.5pt;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 12px;
  border: none;
  border-radius: 3px;
  margin: -5px 5px 8px 0;
}

input[type='submit'] {
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #B90628;
  background: linear-gradient(90deg, #B90628 0%, #EF0230 100%);
}