.content {
  overflow: auto;
  padding: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
}

.background-img {
  /* opacity: 0.4; */
  position: absolute;
  background-color: rgb(0, 0, 0);
  background-image: url(people.jpg);
  background-size: contain;
  background-position: center -50px;
  background-repeat: no-repeat;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.poster-bg {
  padding: 120px 15px 30px;
  background-position: center;
  background-size: cover;
  background-image: none;
  overflow: auto;
}

.title {
  width: 50%;
  text-shadow: 0px 0px 15px black;
  float: left;
}

#dropdowns {
  text-align: right;
  float: right;
  width: 50%;
}

#dropdowns select {
  font-family: 'Open Sans', sans-serif;
  font-size: 10.5pt;
  font-weight: 700;
  padding: 7px 7px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

#dropdowns select {
  text-transform: uppercase;
  margin-left: 5px;
}

#dropdowns select:disabled {
  color: #BBB;
}

.row-no {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  font-weight: 700;
}

.seat {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #333;
  border-radius: 3px;
  margin: 10px;
  transition: background-color 100ms;
}

.divider {
  display: inline-block;
  padding-right: 50px;
}

.booked {
  background-color: #B90628;
}

/* Legend */

#legend .seat {
  vertical-align: bottom;
  width: 20px;
  height: 20px; 
  margin: 50px 8px 0 50px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  cursor: pointer;
}

input[type="checkbox"]:checked + label, .selected {
  background-color: #ffb110;
}

.seat-no {
  display: inline;
}

.seats-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    padding: 50px 15px;
    margin-bottom: 50px;
    background: rgba(0,0,0,1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#screen {
  font-size: 9pt;
  border-radius: 3px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 25px;
  width: 730px;
  margin: 20px auto 50px;
  background-color: #333;
  text-transform: uppercase;
}

.table-container {
  width: 700px;
  margin: 20px auto;
}

.payment {
  padding: 30px 0 120px;
}

/* Table */

table {
  width: 100%;
  text-align: center;
  margin: 50px 0 30px;
}

table tr:nth-child(2) {
  border-bottom: 0.5px solid white;
}

table tr:nth-child(4) td {
  padding: 0 20px;
}

th, td {
  padding: 20px;
}

table tr:first-of-type th {
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
  font-size: 10pt;
  color: #f6b93b;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.alignRight {
  text-align: right;
}

#total {
  font-weight: bold;
}

#seats {
  max-width: 250px;
}

input {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  padding: 7px 5px;
  border: none;
  margin: 0 5px;
}

input[type='submit'] {
  font-weight: 700;
  letter-spacing: 1px;
  padding: 7px 15px;
  border-radius: 3px;
  font-size: 10.5pt;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #B90628;
  transition: background-color 100ms;
}

input[type='submit']:disabled {
  background-color: #888;
  transition: background-color 100ms;
}

.payment .signup {
  text-align: right;
}

.payment .signup input, .payment .signup label {
  font-size: 10.5pt;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 12px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.payment .signup input[type="text"], .payment .signup input[type="password"] {
  margin-bottom: 15px;
  width: 250px;
}

.payment .signup label {
  text-align: left;
  text-transform: uppercase;
}