.movieCell {
  width: 200px;
  height: 300px;
  display: inline-block;
  text-align: center;
  background-size: cover;
  position: relative;
}

.movieCell .details {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
}

.movieCell .title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18pt;
    line-height: 1em;
    padding: 20px 0;
}