.content {
  overflow: auto;
}

.content::after {
  content: "";
  background: url(chairs.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.content.about-page::after {
  background: url(single.jpg);
  background-position: -350px center;
  background-repeat: no-repeat;
  background-size: contain;
}

h2 {
  font-size: 16pt;
  color: #f6b93b;
}

.map {
  float: right;
  width: 40%;
}

.cinema-details {
  float: left;
  width: 60%;
}

.cinema-card {
  overflow: auto;
  float: left;
  width: 485px;
  box-sizing: border-box;
  background-color: rgb(27,27,27);
  padding: 20px;
  margin: 30px 0 0;
}

.cinema-card:nth-of-type(2n) {
  float: right;
}

/* ABOUT */

.description {
  float: right;
  width: 60%;
  line-height: 1.6em;
}

.about {
  width: 35%;
  float: left;
}

p:first-of-type {
  margin-top: 0;
}