body {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    min-height: 100%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.center {
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30pt;
    line-height: 0.9em;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 21pt;
    margin-bottom: 10px;
}


h3 {
    font-weight: 500;
    font-size: 14pt;
    margin-bottom: 10px;

}

.content {
    position: relative;
    padding: 150px 15px 50px;
    min-height: 100%;
}

.width-wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

nav {
    z-index: 100;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2em;
    border-bottom: 0.5px solid #B90628;
}

nav a {
    font-size: 10pt;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 30px;
    position: relative;
    transition: color 200ms;
}

nav a:hover {
    color: #f6b93b;
    transition: color 200ms;
}

nav a::after {
    content: '';
    position: absolute;
    right: -30px;
    top: 10px;
    bottom: 10px;
    display: block;
    height: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

nav a:last-child::after {
    content: none;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
}

.modal .box {
    border-radius: 3px;
    width: 300px;
    top: 18%;
    left: 0;
    right: 0;
    padding: 40px;
    text-align: center;
    position: absolute;
    background: rgb(27,27,27);
    margin: 0 auto;
}

.modal .box .x {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 0;
    font-size: 21pt;
}

.x::after {
    content: '\d7';
}

#show-login, #show-signup {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    color: #666;
}

#show-login.current, #show-signup.current {
    color: white;
    font-weight: bold;
}

.modal .box form {
    padding: 10px 0 10px;
}

.modal input, .modal label {
    display: block;
    width: 100%;
    font-size: 10.5pt;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 12px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
}

.modal input[type="text"], .modal input[type="password"] {
    margin-bottom: 15px;
}

.modal label {
    text-align: left;
    text-transform: uppercase;
}

.modal input[type="submit"] {
    border: none;
    color: white;
    cursor: pointer;
    background-color: #B90628;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #B90628 0%, #EF0230 100%);
    margin-top: 30px;
}

.modal .box .signup {
    display: none;
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

footer {
    background-color: #222222;
    padding: 50px 0;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10pt;
    letter-spacing: 0.2em;
    clear: both;
}

footer h1 {
    font-size: 24pt;
    letter-spacing: 0;
    margin-bottom: 20px;
}

footer .links {
    position: absolute;
    bottom: 0;
    text-align: left;
}

footer a {
    display: inline-block;
    margin-right: 20px;
}